<section class="firmm4_footer1 cid-sk0JQp9rXo" once="footer">
  <div class="container">
    <div class="row">
      <div class="footer_col_logo">
        <div class="brand_wrap">
          <h3 class="brand_name mb-0 display-5">
            <strong>LOGO.</strong>
          </h3>
        </div>
        <div class="contacts">
          <p class="contacts_mail mbr-fonts-style display-4">
            <strong>E-mail:</strong>
            <a href="#" class="text-white">dia@company.com</a>
          </p>
          <p class="contacts_phone mbr-fonts-style display-4">
            <strong>Phone:</strong>
            <a href="#" class="text-white">+62 000 000 000</a>
          </p>
        </div>
      </div>
      <div class="footer_col">
        <h5 class="mbr-section-subtitle mbr-fonts-style display-7">
          <strong>Layanan</strong>
        </h5>
        <ul class="list mbr-fonts-style display-4">
          <li class="mbr-text item-wrap">
            <a href="#" class="text-white">Web App</a>
          </li>
          <li class="mbr-text item-wrap">
            <a href="#" class="text-white">Mobile App</a>
          </li>
          <li class="mbr-text item-wrap">
            <a href="#" class="text-white">UI/UX Design</a>
          </li>
        </ul>
      </div>

      <div class="footer_col">
        <h5 class="mbr-section-subtitle mbr-fonts-style display-7">
              Profil
            </h5>
        <ul class="list mbr-fonts-style display-4">
          <li class="mbr-text item-wrap">
            <a href="#" class="text-white">Kontak</a>
          </li>
          <li class="mbr-text item-wrap">
            <a href="#" class="text-white">Tentang Kami</a>
          </li>
          <li class="mbr-text item-wrap">
            <a href="#" class="text-white">Team</a>
          </li>
        </ul>
      </div>

      <div class="footer_col">
        <h5 class="mbr-section-subtitle mbr-fonts-style display-7">
          <strong>Kebijakan</strong>
        </h5>
        <ul class="list mbr-fonts-style display-4">
          <li class="mbr-text item-wrap">
            <a href="#" class="text-white">Kebijakan Klien</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="firmm4_footer3 cid-sk0JORQGEy">
  <div class="line"></div>

  <div class="container">
    <div class="row text-white justify-content-between">
      <div class="col-12 col-md-4 col-lg-5">
        <p class="mbr-text mbr-fonts-style display-4">
              © Copyright 2022 DIA. All Rights Reserved.
            </p>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="social-list text-center">
          <div class="soc-item">
            <a href="#" target="_blank">
              <span
                    class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="#" target="_blank">
              <span
                    class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="#" target="_blank">
              <span
                    class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="#" target="_blank">
              <span
                    class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>