<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>

    <title>Digital Industry Agency</title>

    <link rel="stylesheet" href="lib/mobirise-icons2/mobirise2.css"/>
    <link rel="stylesheet" href="lib/mobirise-icons/mobirise-icons.css"/>
    <link rel="stylesheet" href="lib/tether/tether.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-reboot.css"/>
    <link rel="stylesheet" href="lib/socicon/css/styles.css"/>
    <link rel="preload" as="style" href="lib/mobirise/css/mobirise.css"/>
    <link rel="stylesheet" href="lib/mobirise/css/mobirise.css" type="text/css"/>
    <link rel="stylesheet" href="assets/css/style.min.css" type="text/css"/>
  </head>

  <body>
    {% include './navbar.njk' %}

    {% block content %}{% endblock %}

    {% include './footer.njk' %}

    <div id="scrollToTop" class="scrollToTop mbr-arrow-up">
      <a style="text-align: center"
        ><i
          class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"
        ></i
      ></a>
    </div>
    
    {% include './script.njk' %}
  </body>
</html>