<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="lib/tether/tether.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/smooth-scroll/smooth-scroll.js"></script>
<script src="lib/touch-swipe/jquery.touch-swipe.min.js"></script>
<script src="lib/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
<script src="lib/mobirise/js/testimonial-slider.js"></script>
<script src="lib/formoid/formoid.min.js"></script>
<script src="assets/js/script-min.js"></script>