
<!-- ============================= KONTAK ============================= -->
<section class="firmm4_form2 cid-sk0MwP6Zap" id="kontak">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-md-8">
        <div class="title_block text-white text-center">
          <h4 class="mbr-section-title mbr-fonts-style display-2">
                Ada Pertanyaan?&nbsp;<span>Hubungi Kami</span>
          </h4>
          <p class="mbr-text mbr-fonts-style mb-0 display-4">
                Bergabunglah dengan ribuan pelanggan yang puas dan rasakan manfaat dari layanan pengembangan web, 
                aplikasi mobile, dan desain UI/UX kami. Hubungi kami hari ini untuk 
                memulai proyek Anda dan rasakan perbedaan yang kami tawarkan
              </p>
        </div>
      </div>
      <div class="col-lg-10 col-md-12 mbr-form" data-form-type="formoid">
        <form
              method="POST"
              class="mbr-form form-with-styler"
              data-form-title="Form Name"
            >
          <input
                type="hidden"
                name="email"
                data-form-email="true"
                value="ucvJvwTwkBYIe2UBsmAMU3Wm4IimR5uAa189h8JMHulZpKT6x4GtV0y99bu4vrri3HFblOyTjIGhtjbvRJJATDE04fE1rMUSMJzIHt8WUGdUM5LmdiFrSys/UrTJX0Q8"
/>
          <div class="">
            <div
                  hidden="hidden"
                  data-form-alert=""
                  class="alert alert-success col-12"
                >
                  Thanks for filling out the form!
                </div>
            <div
                  hidden="hidden"
                  data-form-alert-danger=""
                  class="alert alert-danger col-12"
                >
                  Oops...! some problem!
                </div>
          </div>
          <div class="dragArea row">
            <div
                  class="col-md-5 col-lg-5 col-12 form-group"
                  data-for="email"
                >
              <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    data-form-field="Email"
                    class="form-control"
                    id="email-form2-e"
/>
            </div>
            <div
                  class="col-md-4 col-lg-5 col-12 form-group"
                  data-for="name"
                >
              <input
                    type="text"
                    name="name"
                    placeholder="Nama"
                    data-form-field="Name"
                    class="form-control"
                    id="name-form2-e"
/>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
              <div class="mbr-section-btn">
                <button
                      type="submit"
                      class="btn btn-md btn-primary display-4"
                    >
                      Kirim
                    </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>