
<!-- ============================ PEMBUKA ============================= -->
<section class="header2 firmm4_header2 cid-sk0DXaAKtK" id="pembuka">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-6 col-12 head_block">
        <h1 class="mbr-section-title mbr-fonts-style display-1">
          <strong>Digital Industry Agency</strong>
        </h1>
        <p class="mbr-text mbr-fonts-style" style="font-size: 1.25rem;">
              Hai, Selamat datang di Digital Industri Indonesia.<br />
              Kembangkan Bisnismu Di Dunia Digital.
            </p>
        <div class="buttons_wrap">
          <div class="btn_group">
            <div class="mbr-section-btn">
              <a class="btn btn-md btn-primary-outline display-8" href="index.html#kontak"
                    >Kontak Kami Segera</a
                  >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-12 image_img">
        <img src="https://dummyimage.com/640x853/cbd5e1/0c0f0d" alt=""/>
      </div>
    </div>
  </div>
</section>