
<!-- =============================== TIM ============================== -->
<section class="team firmm4_team cid-sk0JF9hRiW" id="tim">
  <div class="container">
    <div class="row">
      <div class="col-12 title_block">
        <h3
              class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"
            >
          <strong>Team</strong>
        </h3>
      </div>

      <div class="item features-image col-12 col-lg-3 col-md-6 col-sm-6">
        <div class="item-wrapper text-center">
          <div class="item-img">
            <img src="https://dummyimage.com/500x500/cbd5e1/0c0f0d" alt=""/>
            <div class="social_block">
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-facebook socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-twitter socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-instagram socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span class="mbr-iconfont socicon-telegram socicon"></span>
              </a>
            </div>
          </div>
          <h5 class="card-title mbr-fonts-style display-7">
            <strong>Idham</strong>
          </h5>
          <p class="card-text mbr-fonts-style display-4">Komisaris</p>
        </div>
      </div>

      <div class="item features-image col-12 col-lg-3 col-md-6 col-sm-6">
        <div class="item-wrapper text-center">
          <div class="item-img">
            <img src="https://dummyimage.com/500x500/cbd5e1/0c0f0d" alt=""/>
            <div class="social_block">
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-facebook socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-twitter socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-instagram socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span class="mbr-iconfont socicon-telegram socicon"></span>
              </a>
            </div>
          </div>
          <h5 class="card-title mbr-fonts-style display-7">
            <strong>Diana</strong>
          </h5>
          <p class="card-text mbr-fonts-style display-4">Co-Komisaris</p>
        </div>
      </div>

      <div class="item features-image col-12 col-lg-3 col-md-6 col-sm-6">
        <div class="item-wrapper text-center">
          <div class="item-img">
            <img src="https://dummyimage.com/500x500/cbd5e1/0c0f0d" alt=""/>
            <div class="social_block">
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-facebook socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-twitter socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-instagram socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span class="mbr-iconfont socicon-telegram socicon"></span>
              </a>
            </div>
          </div>
          <h5 class="card-title mbr-fonts-style display-7">
            <strong>Firdiansyah</strong>
          </h5>
          <p class="card-text mbr-fonts-style display-4">CEO</p>
        </div>
      </div>

      {# <div class="item features-image col-12 col-lg-3 col-md-6 col-sm-6">
        <div class="item-wrapper text-center">
          <div class="item-img">
            <img src="https://dummyimage.com/500x500/cbd5e1/0c0f0d" alt=""/>
            <div class="social_block">
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-facebook socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-twitter socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-instagram socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span class="mbr-iconfont socicon-telegram socicon"></span>
              </a>
            </div>
          </div>
          <h5 class="card-title mbr-fonts-style display-7">
            <strong>Adi Faqih</strong>
          </h5>
          <p class="card-text mbr-fonts-style display-4">Marketing Manager</p>
        </div>
      </div> #}

      <div class="item features-image col-12 col-lg-3 col-md-6 col-sm-6">
        <div class="item-wrapper text-center">
          <div class="item-img">
            <img src="https://dummyimage.com/500x500/cbd5e1/0c0f0d" alt=""/>
            <div class="social_block">
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-facebook socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-twitter socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-instagram socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span class="mbr-iconfont socicon-telegram socicon"></span>
              </a>
            </div>
          </div>
          <h5 class="card-title mbr-fonts-style display-7">
            <strong>Aghia</strong>
          </h5>
          <p class="card-text mbr-fonts-style display-4">Digital Marketing</p>
        </div>
      </div>

      <div class="item features-image col-12 col-lg-3 col-md-6 col-sm-6">
        <div class="item-wrapper text-center">
          <div class="item-img">
            <img src="https://dummyimage.com/500x500/cbd5e1/0c0f0d" alt=""/>
            <div class="social_block">
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-facebook socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-twitter socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-instagram socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span class="mbr-iconfont socicon-telegram socicon"></span>
              </a>
            </div>
          </div>
          <h5 class="card-title mbr-fonts-style display-7">
            <strong>Umam</strong>
          </h5>
          <p class="card-text mbr-fonts-style display-4">Programmer Manager</p>
        </div>
      </div>

      <div class="item features-image col-12 col-lg-3 col-md-6 col-sm-6">
        <div class="item-wrapper text-center">
          <div class="item-img">
            <img src="https://dummyimage.com/500x500/cbd5e1/0c0f0d" alt=""/>
            <div class="social_block">
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-facebook socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-twitter socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span
                      class="mbr-iconfont socicon-instagram socicon"
                    ></span>
              </a
                  >
              <a href="#" target="_blank" class="iconfont-wrapper">
                <span class="mbr-iconfont socicon-telegram socicon"></span>
              </a>
            </div>
          </div>
          <h5 class="card-title mbr-fonts-style display-7">
            <strong>Ammar</strong>
          </h5>
          <p class="card-text mbr-fonts-style display-4">Fullstack Developer</p>
        </div>
      </div>
    </div>
  </div>
</section>