{% extends 'components/base/master.njk' %}

{% block content %}
  {% include 'components/pembuka.njk' %}
  {% include 'components/layanan.njk' %}
  {% include 'components/portofolio.njk' %}
  {% include 'components/siapa-kami.njk' %}
  {% include 'components/tim.njk' %}
  {% include 'components/kontak.njk' %}
{% endblock %}